.navbar {
    background-color:rgb(1, 62, 73);
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
  }
  .brand{
    text-align: center;
  }
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: rgb(1, 62, 73);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 350ms;
    z-index: 1000;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 10000;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: rgb(20, 87, 99);
    color: #f5f5f5;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: rgb(1, 62, 73);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }