.i-plain {
    margin-right: 10px !important;
    color: rgb(104, 103, 105);
    background-color: transparent !important
}

.i-plain:hover {
    color: rgb(0, 0, 0);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}
.margined-top-bottom{
    margin-top: 2px;
    margin-bottom:5vh;
}